* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col {
    width: 220px;
}
.cards {
    width: 254px;
    font-size: 10px;
    transition: 1s;
}
.cards:hover {
    transform: scale(1.1);
}
.cards_img {
    width: 100%;
    border-radius: 15px;
}
.cards_overlay {
    position: absolute;
    top: 70%;
    padding: 15px;
    opacity: 0;
    font-weight: 700;
}
.cards:hover .cards_overlay {
    opacity: 1;
    z-index: 1;
}