

/* default styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
    margin-bottom: 0 !important;
  }
  
  a {
    text-decoration: none;
    font-size: 18px;
  } 
  a span {
    color: white;
  }
  
  /* navbar */
  .navbar {
    background-color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-bottom: 1px solid gray;
  }
  
  
  /* logo  */
  .logo img {
    position: absolute;
    width: 50px;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px){
    
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
    }
    .navbar {
      justify-content: space-between;
    }
  
    .bar {
          background-color: white;
          border-radius: 5px;
          width: 20px;
          height: 3px;
          display: block;
          margin: 5px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu{
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 50px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: black;
      padding: 10px;
      color: white;
      border-bottom: 1px solid gray;
    }
  
    .navMenu.active{
      left: 0;
    }
  
    .navMenu li {
      margin: 16px 0;
    }
    .navLink {
      text-decoration: none;
    }
  }

  
