* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movie {
    background-color: black;
}
.movie_into {
    text-align: center;
}
.movie_backdrop {
    width: 1200px;
    image-rendering:optimizeQuality;
    image-resolution:inherit;
    opacity: 0.5;
}
.movie_poster {
    position: absolute;
    width: 200px;
    top: 400px;
    left: 400px;
}
.movie_detailRight {
    position: absolute;
    width: 800px;
    top: 430px;
    left: 630px;
    color: white;
} 